body {
    font-family: 'Roboto', sans-serif;
    background: url('https://wallpapercave.com/wp/wp2631120.jpg') center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }

  #calculator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #welcome-heading {
    font-family: 'Verdana', sans-serif;
    font-size: 25px;
    margin-bottom: 20px;
    color:black;
  }

  #calculator {
    width: 90%;
    max-width: 350px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    border-style: solid;
    border-width: 5px;
    overflow: hidden;
    border-color: black;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
    align-items: center;
    justify-items: center;
  }

  input {
    grid-column: span 5;
    width: calc(100% - 30px);
    margin: 10px;
    padding: 15px;
    font-size: 24px;
    background-color: #f9f9f9;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    text-align: right;
  }

  button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button.operator {
    background-color: #ff8c00;
    color: #fff;
  }

  button.equal {
    background-color: #4caf50;
    color: #fff;
  }

  button.clear {
    background-color: #ff3d00;
    color: #fff;
  }

  button:hover {
    background-color: #e0e0e0;
  }

  button:active {
    background-color: #ccc;
  }

  @media (max-width: 500px) {
    #calculator {
      width: 90%;
      grid-template-columns: repeat(3, 1fr);
    }

    input {
      width: calc(100% - 20px);
    }
  }